{
  "extends": ["standard", "standard-react"],

  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "rules": {
    "max-len": [1, 120],
    "semi": 0,
    "react/prop-types": [ 2, {
      "ignore": [
        "children"
      ]
    }]
  }
}