button {
  -webkit-appearance: none;
  border: none;
  outline: none;
  cursor: pointer;
}

button.icon-only {
  width: 50px;
  height: 50px;
  line-height: 4em;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.3);
}

button.icon-only > i {
  text-shadow: 0 1px 10px rgba(0,0,0,.15);
}

button.icon-only.primary {
  width: 80px;
  height: 80px;
  line-height: 6em;
  background-color: #673ab7;
}

button.icon-only.primary:hover,
button.icon-only.primary:active {
  background-color: #815fc1;
} 

button.icon-only.primary > i {
  color: #fff;
  font-size: 2em;
}

button.icon-only.secondary {
  background-color: #03A9F4;
}

button.icon-only.secondary:hover,
button.icon-only.secondary:active {
  background-color: #40b6f3;
} 

button.icon-only.secondary > i {
  color: #fff;
}

button.add-marker {
  position: absolute;
  right: 2em;
  bottom: 2em;
  z-index: 100;
}

button.filters {
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 100;
}

button.search {
  position: absolute;
  left: 2em;
  top: 2em;
  z-index: 100;
  background-color: #e91e63 !important;
} 

button.search:hover,
button.search:active {
  background-color: #e74b7d !important;
} 

@media screen and (max-width: 600px) {
  button.add-marker {
    left: 0;
    right: 0;
    bottom: -0.75em;
    margin: 0 auto;
  }

  button.filters {
    right: 6.8em;
    bottom: -0.4em;
    top: auto;
    border-bottom-left-radius: 0;
    z-index: 90;
  }

  button.search {
    left: 6.8em;
    bottom: -0.4em;
    top: auto;
    border-bottom-right-radius: 0;
    z-index: 90;
  }
}