@import 'icons/material-icons.css';
@import 'button';
@import 'map';
@import 'overlays';

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: #eaeaea;
}

.native.ios body {
  background-color: #000;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* nice rounded corners on native iOS */

.native.ios .app,
.native.ios .app .map--container,
.native.ios .app .map--container .map--view {
  border-radius: 10px;
  overflow: hidden;
}

.detail-view-container {
  padding: 5px;
}

.detail-view-container h1 {
  margin: 0.2em 0;
}

.detail-view-container main {
  margin: 0.2em 0;
}

.detail-view-container main address {
  font-style: inherit;
}

.telephone-number {
  margin: 0;
}

.icons {
  margin-top: 1.5em;
}

.icons > div {
  margin: 0 2px;
  height: 40px;
  width: 40px;
  display: none;
  background-repeat: no-repeat;
  background-size: 80%;
  background-color: #8BC34A;
  background-position: center;
  border: 1px solid #fff;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.glutenfree-icon{
  background-image: url('icons/glutenfree.svg');
  display: inline-block !important;
  
}

.vegan-icon{
  background-image: url('icons/vegan.svg');
  display: inline-block !important;

}

.vegetarian-icon{
  background-image: url('icons/vegetarian.svg');
  display: inline-block !important;
}

.amenity{
  color: #fff;
  opacity: .8;
}

.no-diet{
  background-color: #666666;
}