@import 'icons/material-icons.css';
@import 'button';
@import 'map';
@import 'overlays';

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: #eaeaea;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.icons {
  text-align: center;
  padding: 1px;
  background-color: lightgray;
}

.detail-view-container {
  padding: 5px;
}

.detail-view-container h1 {
  margin: 0.2em 0;
}

.detail-view-container main {
  margin: 0.2em 0;
}

.detail-view-container main address {
  font-style: inherit;
}

.telephone-number {
  margin: 0;
}

.glutenfree-icon{
  background-image: url('icons/glutenfree.svg');
  height: 50px;
  background-repeat: no-repeat;
}

.vegan-icon{
  background-image: url('icons/vegan-icon.jpg');
  height: 50px;
  background-repeat: no-repeat;
}

.vegetarian-icon{
  background-image: url('icons/vegetarian-icon.jpg');
  height: 50px;
  background-repeat: no-repeat;
}