@import 'icons/material-icons.css';
@import 'button';
@import 'map';
@import 'overlays';

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  position: relative;
}

body {
  background-color: #eaeaea;
}

.native.ios body {
  background-color: #000;
}

.app {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* nice rounded corners on native iOS */

.native.ios .app,
.native.ios .app .map--container,
.native.ios .app .map--container .map--view {
  border-radius: 10px;
  overflow: hidden;
}

.icons {
  text-align: center;
  padding: 1px;
  height: 50px;
}

.detail-view-container {
  padding: 5px;
}

.detail-view-container h1 {
  margin: 0.2em 0;
}

.detail-view-container main {
  margin: 0.2em 0;
}

.detail-view-container main address {
  font-style: inherit;
}

.telephone-number {
  margin: 0;
}

.glutenfree-icon{
  background-image: url('icons/glutenfree.svg');
  height: 50px;
  width: 50px;
  float: left;
  margin: 2px;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #8BC34A;
}

.vegan-icon{
  background-image: url('icons/vegan.svg');
  height: 50px;
  width: 50px;
  float: left;
  margin: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #8BC34A;

}

.vegetarian-icon{
  background-image: url('icons/vegetarian.svg');
  height: 50px;
  width: 50px;
  float: left;
  margin: 2px;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #8BC34A;
}

.amenity{
  color: #666666;
}

.no-diet{
  background-color: #666666;
}